[push]
    default = simple
[diff]
    tool = nvimdiff
[merge]
    tool = mygitmerge
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE
[mergetool "mygitmerge"]
    cmd = mygitmerge nvim $BASE $LOCAL $REMOTE $MERGED
    keepBackup = false
    trustExitCode = true
[alias]
    co = checkout
    st = status
    ci = commit
    bl = log --abbrev-commit --first-parent HEAD
    dt = difftool
    mt = mergetool
[diff "gpg"]
	textconv = gpg --use-agent -q --no-tty -decrypt
[diff "eyaml"]
	textconv = eyaml decrypt -e
[user]
    # Require setting user.name and email per-repo
	userConfigOnly = true
[pull]
	ff = only
[core]
	excludesfile = /Users/rz/.gitignore_global
