" use system clipboard
set clipboard+=unnamed
" case-insensitive search
set ignorecase
" highlight all occurences when searching
set hlsearch
" camel hump
nmap <w> <[><w>
nmap <e> <]><w>
nmap <b> <[><b>
vmap <w> <[><w>
vmap <e> <]><w>
vmap <b> <[><b>
