" use system clipboard
set clipboard+=unnamed
" case-insensitive search
set ignorecase
" highlight all occurences when searching
set hlsearch
" emulate vim-surround
set surround
" Tab navigation
nmap H :action VimMotionPreviousTab<CR>
nmap L :action VimMotionNextTab<CR>
" jump between matching brackets
nmap % :action EditorMatchBrace<CR>
" syntax aware join
set ideajoin
