[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=reload-taskbar
Comment=
Exec=xfce4-panel -r
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

